<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<script th:if="${#authentication != null
                   && #authentication.principal.class.name == 'com.example.utils.security.AppUserDetails'}"
        th:inline="javascript">
    console.log('AppUserDetails');
</script>
<script th:if="${#authentication != null
                   && #authentication.class.name == 'com.example.utils.security.CustomerAuthenticationToken'}"
        th:inline="javascript">
    console.log('CustomerAuthenticationToken');
</script>

</body>
</html>
